:root {
  --ion-color-primary: #ee6148;
  --ion-color-primary-rgb: 238,97,72;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #d1553f;
  --ion-color-primary-tint: #f0715a;
}